QMainWindow{                                            
    background-color: #333;                             
    color: #fff;                                        
}                                                       
QFileDialog {                                           
    background-color: #333;                             
    border: 1px solid #555;                             
    border-radius: 6px;                                 
    color: #333;                                        
    padding: 10px;                                      
}                                                       

QTreeView, QListView, QLabel,                           
QScrollBar, QFileDialog {                               
    background-color: #333333;                          
    color: #ffffff;                                     
}                                                       
QPushButton {                                           
    background-color: #333;                             
    border: 1px solid #555;                             
    border-radius: 6px;                                 
    color: #fff;                                        
    padding: 10px;                                      
}                                                       
QPushButton:hover {                                     
    background-color: #555;                             
}                                                       

                                                         
QSlider {                                                
    color: #333;                                        
    padding: px;                                        
}                                                       
    QLabel {                                            
    margin-bottom: 20px;                                
    color: #fff;                                         
    margin: -20px;                                      
}                                                        

QSlider::groove {                                       
    border: 1px solid #555;                              
    background-color: #777;                             
    border-radius: 1px;                                 
    height: 10px;                                       
    margin: -10px;
    padding-left: 10%;
    padding-right: 10%;                                      
}                                                        
QSlider::handle {                                       
    background-color: #3e99fa;                          
    border: 1px solid #555;                             
    border-radius: 5px;                                
    height: 1px;                                        
    width: 20px;                                        
    border-radius: 3px;                                 
    margin: -15px 10px;                                
}